<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="container py-1">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Movie Lens</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="movie/search/">Search</a>
              </li>
              {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="/movie/add/">Add movie</a>
              </li> 
              {% endif %}
            </ul>
            <form class="d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="p-0">
                  <h3>Logged as {{request.user}}</h3>
                </div>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link"
                    href="/logout"
                    id="navbarLogout"
                    role="button"
                    aria-expanded="false"
                  >
                    Logout
                  </a>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </nav>
      <div class="p-4">
        <div class="row row-cols-2 row-cols-md-2 g-5 gap-5">
          {% if movies %} {% for movie in page_obj %}
          <div class="card" style="width: 18rem">
            {% load static %}
            <img
              style="height: 70%; object-fit: cover"
              src="{% static "movielens/picked_movies/"|add:movie.image %}"
              class="card-img-top"
              alt="{{ movie.title }}"
            />
            <div class="card-body flex-column flex">
              <h5 class="card-title">{{ movie.title }}</h5>
              <div class="my-3">
                {% for genre in movie.genres.all %}
                <span class="badge bg-secondary">{{ genre.name }}</span>
                {% endfor %}
              </div>
              <div class="my-3">
                {{ movie.description|slice:":70" }} ...
              </div>
              <a href="/movie/{{movie.id}}" class="btn btn-primary text-center"
                >Details</a
              >
            </div>
          </div>

          {% endfor %} {% else %}
          <p>No movies are available.</p>
          {% endif %} {% block content %} {% endblock %}
        </div>
        <div>
          <span>
            {% if page_obj.has_previous %}
            <a
              style="text-decoration: none"
              href="?page={{ page_obj.previous_page_number }}"
              >←</a
            >
            {% endif %}
            <span>
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a
              style="text-decoration: none"
              href="?page={{ page_obj.next_page_number }}"
              >→</a
            >
            {% endif %}
          </span>
        </div>
      </div>
      <div class="p-4">
        {% if ratings %} {% for rating in ratings.all %}
        <li class="list-group-item list-group-item-action">
          Movie: {{ rating.movie }}, Rating: {{ rating.value }}, User: 
          {{ rating.user }}
        </li>
        {% endfor %} {% else %}
        <p>No ratins yet</p>
        {% endif %}
        <a style="text-decoration: none" href="/rating">Add rating</a>
      </div>
    </div>
    {% else %}
    <div class="container py-1">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Movie Lens</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="movie/search/">Search</a>
              </li>
            </ul>
            <form class="d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Login or Register
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                    <li>
                      <a class="dropdown-item" href="/register">Register</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </nav>
      <h2 class="text-center">Welcome to Movie Land application.</h2>
      <p class="mb-5">
        Movie Land application is an innovative platform designed to enhance the
        movie-watching experience for cinephiles around the world. With an
        extensive database of films, personalized recommendations, and
        interactive features, this application aims to immerse users in the
        captivating world of movies.
      </p>
      <div class="row row-cols-2 row-cols-md-2 g-5 gap-5">
        {% if movies %} {% for movie in movies %}
        <div class="card" style="width: 18rem">
          <img
            style="height: 70%; object-fit: cover"
            src="{% static "movielens/picked_movies/"|add:movie.image %}"
            class="card-img-top"
            alt="{{ movie.title }}"
          />
          <div class="card-body flex-column flex">
            <h5 class="card-title">{{ movie.title }}</h5>
            <div class="my-3">
              {% for genre in movie.genres.all %}
              <span class="badge bg-secondary">{{ genre.name }}</span>
              {% endfor %}
            </div>
            <div class="my-3">
              {{ movie.description|slice:":70" }} ...
            </div>
            <a href="/movie/{{movie.id}}" class="btn btn-primary text-center"
              >Details</a>
          </div>
        </div>
        {% endfor %} {% else %}
        <p>No movies are available.</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </body>
</html>
