<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <script
      src="https://kit.fontawesome.com/3392d1b6f5.js"
      crossorigin="anonymous"
    ></script>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="container py-1">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Movie Lens</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./search/">Search</a>
              </li>
            </ul>
            <form class="d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="p-0">
                  <h3>Logged as {{request.user}}</h3>
                </div>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link"
                    href="/logout"
                    id="navbarLogout"
                    role="button"
                    aria-expanded="false"
                  >
                    Logout
                  </a>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </nav>
      <div class="container mt-4">
        <div class="row">
          <div class="col-md-4">
            <img
              class="w-100"
              src="{{ movie.img_url }}"
              alt="{{ movie.title }}"
            />
            {% if user.is_superuser %}
            <a
              href="/movie/edit/{{ movie.id}}"
              class="btn btn-primary text-center mt-3"
              ><i class="fa-solid fa-pen-to-square"></i> Edit film</a
            >
            {% endif %}
          </div>
          <div class="col-md-8">
            <h2>Title: {{ movie.title }}</h2>
            <p>Year: {{ movie.year }}</p>
            <p>Audience Rating: {{ movie.audience_rating }}</p>
            <p>Critic Rating: {{ movie.critic_rating }}</p>
            <div class="my-3">
              {% for genre in movie.genres.all %}
              <span class="badge bg-secondary">{{ genre.name }}</span>
              {% endfor %}
            </div>
            <a
              href="/comment/create/{{ movie.id}}"
              class="btn btn-primary text-center mb-3"
              >Add comment</a
            >
            <p>Comments:</p>
            {% if comments %} {% for comment in comments.all %}
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center gap-3">
                  <i class="fa-solid fa-user"></i>
                  <h5 class="card-title">{{ comment.user }}</h5>
                </div>
                <p class="card-text mt-3">{{ comment.user_review }}</p>
              </div>
            </div>
            {% endfor %} {% else %}
            <p>No comment yet</p>
            {% endif %}
          </div>
        </div>
      </div>

      {% else %}
      <div class="container py-1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Movie Lens</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./search/">Search</a>
                </li>
              </ul>
              <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Login or Register
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/login">Login</a></li>
                      <li>
                        <a class="dropdown-item" href="/register">Register</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </nav>
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-4">
              <img
                class="w-100"
                src="{{ movie.img_url }}"
                alt="{{ movie.title }}"
              />
            </div>
            <div class="col-md-8">
              <h2>Title: {{ movie.title }}</h2>
              <p>Year: {{ movie.year }}</p>
              <p>Audience Rating: {{ movie.audience_rating }}</p>
              <p>Critic Rating: {{ movie.critic_rating }}</p>
              <div class="my-3">
                {% for genre in movie.genres.all %}
                <span class="badge bg-secondary">{{ genre.name }}</span>
                {% endfor %}
              </div>
              <p>Comments:</p>
              {% if comments %} {% for comment in comments.all %}
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center gap-3">
                    <i class="fa-solid fa-user"></i>
                    <h5 class="card-title">{{ comment.user }}</h5>
                  </div>
                  <p class="card-text mt-3">{{ comment.user_review }}</p>
                </div>
              </div>
              {% endfor %} {% else %}
              <p>No comment yet</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>
